ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: black;
    background-color: deepskyblue;
}

li {
    text-align: left;
    border-bottom: 1px solid #555;
    float: left;
}

a{
    display: inline;

}

.active {
    background-color: #4CAF50;
    color: white;

}